<nav class="navbar fixed-top navbar-expand-lg">
  <span class="navbar-brand" routerLink="/">
    <img src="assets/images/marcos-logo.png" alt="">
  </span>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mx-3">
        <a class="nav-link" data-scroll href="#home">Home<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item mx-3">
        <a class="nav-link" data-scroll href="#services">Services</a>
      </li> -->
      <!-- <li class="nav-item mx-3" >
        <a class="nav-link" [routerLink]="'/company'" >Company</a>
      </li> -->


      <li class="nav-item dropdown" (mouseover)="openDropdown()" (mouseout)="closeDropdown()">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
          <a class="dropdown-item" [routerLink]="'/solar-solutions'" (click)="closeDropdown()">
            <span class="d-block title">Solar Energy</span>
            <span class="description">
              Save on your elecricity bills with our low maintenance
              reliable solar solutions
            </span>
          </a>
          <a class="dropdown-item" [routerLink]="'/ict-solutions'" (click)="closeDropdown()">
            <span class="d-block title">Telecommunications & ICT</span>
            <span class="description">
              Experience work efficiency with our tech solutions that meet
              and sustain your business model
            </span>
          </a>
          <a class="dropdown-item" (click)="closeDropdown()" [routerLink]="'/water-solutions'">
            <span class="d-block title">Water Purification</span>
            <span class="description">
              Get absolute protection against water borne bacteria and viruses
            </span>
          </a>
        </div>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" data-scroll href="#contact">Contact</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>

  <div class="menu">
    <span><i class="fas" [ngClass]="{'fa-times':opened, 'fa-bars':!opened}" (click)="toggleSideNav()"></i></span>
  </div>
</nav>


<div class="sm-navbar" [ngClass]="{'slide-in':opened, 'slide-out':!opened}">
  <div class="bg-color" *ngIf="opened">

    <ul class="main-list">
      <li class="item" [routerLink]="'/'" (click)="toggleSideNav()">Home</li>
      <li class="item">Services <span><i class="fas fa-caret-down"></i></span>
        <ul class="sub-list">
          <li class="sub-item" [routerLink]="'/solar-solutions'" (click)="toggleSideNav()">Solar Energy</li>
          <li class="sub-item" [routerLink]="'/ict-solutions'" (click)="toggleSideNav()">ICT</li>
          <li class="sub-item" [routerLink]="'/water-solutions'" (click)="toggleSideNav()">Water Purification</li>
        </ul>
      </li>
      <li class="item">
        Contact
        <ul class="sub-list">
          <li class="sub-item">
            <a href="tel:+254720503369" target="_blank">
              +254 720 503 369
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>
