<div class="container-fluid home-page" id="home">


  <div id="carouselExampleControls" class="carousel slide landing-section" data-ride="carousel" data-interval="5000" data-wrap="true" data-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="solar-section">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="content">
                  <h1>The Future is <br class="d-none d-sm-none d-md-inline"> <span>Renewable Energy</span></h1>
                  <p>We strive to enable our community generate energy <br class="d-none d-sm-none d-md-inline"> that reduces gas emissions and intern positively <br class="d-none d-sm-none d-md-inline"> impact our environment</p>
                  <button type="button" class="btn btn-main-cta">Get Started</button>
                </div>

              </div>
              <div class="col-md-4">

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="ict-section">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="content">
                  <h1>Achieve Access to <br class="d-none d-sm-none d-md-inline"> <span>Global Information</span></h1>
                  <p>We strive to enable our community generate energy <br class="d-none d-sm-none d-md-inline"> that reduces gas emissions and intern positively <br class="d-none d-sm-none d-md-inline"> impact our environment</p>
                  <button type="button" class="btn btn-main-cta">Get Started</button>
                </div>

              </div>
              <div class="col-md-4">

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="water-section">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="content">
                  <h1>Build a More <br class="d-none d-sm-none d-md-inline"> <span>Water-Secure</span> and <br class="d-none d-sm-none d-md-inline"> <span>Sustainable World</span> </h1>
                  <p>We strive to enable our community generate energy <br class="d-none d-sm-none d-md-inline"> that reduces gas emissions and intern positively <br class="d-none d-sm-none d-md-inline"> impact our environment</p>
                  <button type="button" class="btn btn-main-cta">Get Started</button>
                </div>

              </div>
              <div class="col-md-4">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>


  <div class="about-section" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="about-opening-title">Get to know <br> <span>Marcos Limited</span></h2>
          <p class="about-description">
            MARCOS LIMITED is a limited company registered in Kenya and has its focus on engaging in
            Infrastructure Projects in the <strong>Renewable Energy</strong>, <strong>ICT</strong> and <strong>Water Purification</strong> sectors. MARCOS LIMITED is versatile in diverse areas making it possible to provide innovative products
            & solutions to our customers thus delivering quality services to our clients. We are located Off
            Garissa Road, Thika.</p>
        </div>
      </div>

      <br>

      <h2 class="section-title text-center mt-5"><span>Values </span> & <span> Principles</span></h2>

      <div class="row values-section">
        <div class="col-md-3">
          <h4>We operate with <span>Integrity</span> to create dependable and accountable bonds with our clients.</h4>
        </div>
        <div class="col-md-3">
          <h4>Our <span>Innovative</span> team is quick to anticipate and adapt accordingly to market changes.</h4>
        </div>
        <div class="col-md-3">
          <h4>Assurance of <span>Quality</span> products & solutions helps us maintain customer satisfaction and loyalty.</h4>
        </div>
        <div class="col-md-3">
          <h4>We believe <span>Growth</span> is key to our business and more so our customers.</h4>
        </div>
      </div>
    </div>
  </div>




  <div class="services-section" id="services">
    <div class="container">

      <h3 class="section-title">Our <span>Services</span></h3>
      <!-- <p class="section-description">We provide tailored solutions to suite your need</p> -->


      <div class="row">
        <div class="col-md-4">
          <div class="card" [routerLink]="'/solar-solutions'">
            <div class="solution-image">
              <img src="assets/images/comp-solutions.jpg" alt="">
            </div>
            <div class="content">
              <h4>Solar Energy Solutions</h4>
              <p>Experince <strong>reduced</strong> elecricity bills and <strong>low maintenance</strong> costs while creating a <strong>positive impact</strong> in your environment with our relaible solar solutions</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="solution-image">
              <img src="assets/images/servers.jpg" alt="">
            </div>
            <div class="content">
              <h4>ICT Solutions</h4>
              <p>Build your business by streamlining your <strong>services</strong> and <strong>operations</strong> with an efficient and accessible ICT infrastructure</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="solution-image">
              <img src="assets/images/water-bg.jpg" alt="">
            </div>
            <div class="content">
              <h4>Water Purifying Solutions</h4>
              <p>With <strong>double purification</strong> using innovative technology, we assure <strong>absolute protection</strong> against water borne bacteria and viruses</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="contact-section" id="contact">
    <div class="container">
      <h3 class="section-title">Let's Create Progress Together</h3>
      <p class="section-description">Get in touch and be part of the Green World</p>


      <div class="row content">
        <div class="col-6 col-md-3 text-center mb-3">
          <a> <span class="d-block"><i class="fas fa-map-marker-alt"></i></span>
            <span class="d-block text">Kenya, Thika <br> Off Garissa Road</span>
          </a>
        </div>
        <div class="col-6 col-md-3 text-center mb-3">
          <a href="https://www.facebook.com/solar.incor.3" target="_blank">
            <span class="d-block"><i class="fab fa-facebook-f"></i></span>
            <span class="d-block text"> Marcos Energy </span>
          </a>
        </div>
        <div class="col-md-3 text-center mb-3">
          <a href="tel:+254720503369" target="_blank">
            <span class="d-block"><i class="fas fa-phone-alt"></i></span>
            <span class="d-block text">+254 720 503 369</span>
          </a>
        </div>
        <div class="col-md-3 text-center">
          <a href="mailto:kamaungugi13@gmail.com" target="_blank">
            <span class="d-block"><i class="fas fa-envelope"></i></span>
            <span class="d-block text"> kamaungugi13@gmail.com </span>
          </a>
        </div>


      </div>


      <div class="container form-bg">

        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="form">
              <div class="form-group">
                <input type="text" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Email Addres">
              </div>

              <div class="form-group">
                <input type="text" placeholder="Phone Number">
              </div>

              <div class="form-group">
                <select name="options">
                  <option selected hidden>Select Service</option>
                  <option value="">Solar Energy</option>
                  <option value="">ICT Infrastructure</option>
                  <option value="">Water Purification</option>
                </select>
              </div>

              <div class="form-group">
                <textarea name="name" rows="6" placeholder="message"></textarea>
              </div>

              <button type="button" class="btn btn-submit">Send Message</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>




</div>
